body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* Global */
.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_submit{
    height: 38px;
    background: orangered;
    border: none;
    padding: 0 20px 0 20px;
    color:whitesmoke;

}
 
/* Header */
header{
    background: darkslategray;
    color: white;
    padding-top: 30px;
    min-height:70px;
    border-bottom: orangered 3px solid;
}

header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}  

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .subbrand, header .current a {
    color: orangered;
    font-weight: bold;

}

header a:hover{
    color: lightgrey;
    font-weight: bold;
}
/* showcase*/
#showcase{
    min-height: 300px;
    background: url('images/office3.png') no-repeat 0 -100px;
    text-align: center;
    color: whitesmoke;
}

#showabout{
    min-height: 400px;
    background: url('images/programmer4.png') no-repeat 0 -50px;
    text-align: center;
    color: whitesmoke;
}


#showcase h2{
    margin-top: 50px;
    font-size: 45px;
    margin-bottom: 10px;
}

#showabout h2{
    margin-top: 50px;
    font-size: 45px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#showabout p{
    font-size: 20px;
}

/* Newsletter */
#newsletter{
    padding:10px;
    color: white;
    background: darkslategray ;
}

#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 10px;
 
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes*/

#boxes {
    margin-top: 5px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    
}

#boxes .box img {
    width: 150px;
    height: 165px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: orangered;
    text-align: center;
}